In [ ]:
# 1) list = [[3,4,5,6], [4,2,3], [4,1,2],[2,1]]  write a function that will add all the elements
# in the list above = [sum1 + sum2 + sum3 + sum4] = sumtotal

In [ ]:
# 2) Write a function that will remove the first element from a given list and  returns the new
# list and prints out the length of the new list. Can you do the same with string objects?

In [ ]:
# 3) list1 = [1,2,'a','b','c','d',3,4,5,6] write a fn that will remove the first two elements
# and the last two elements from the list above. Also write a fn that will remove the first two
# elements and the last element.

In [ ]:
# 4) list1 = [1,2,3,4,5,6] write a fn taht will return the sum by calculating the elements before
# it. Eg the sum element at index 2 will be the cumu sum of the first three elements and so on...
# [1,3,6,10,15,21..]

In [ ]:
# 5) Write a function that checks if a given list has the same duplicate elements. If so, the 
# function should return true else return false.

In [ ]:
# 1) list = [[3,4,5,6], [4,2,3], [4,1,2],[2,1]]  write a function that will add all the elements
# in the list above 18 + 9 + 7 + 3

In [ ]:
def list_sum(x):
    sum_total = 0
    
    for elem in x:
        sum_total += sum(elem)
        
    return sum_total

list_sum([[1,2],[3,4]])

In [ ]:
list1 = [[3,4,5,6], [4,2,3], [4,1,2],[2,1]]

In [ ]:
list_sum(list1)

In [ ]:
# 2) Write a function that will remove the first element from a given list and  returns the new
# list and prints out the length of the new list. Can you do the same with string objects?

In [ ]:
def new_list(x):
    print "the length of the original list is: ", len(x)
    del x[0]
    print "the length of the new list is: ", len(x)
    return x

In [ ]:
new_list([1,2,3,4,5])

In [ ]:
new_list(['b','a','c','d'])

In [ ]:
new_list('string')

In [ ]:
# 3) list1 = [1,2,'a','b','c','d',3,4,5,6] write a fn that will remove the first two elements
# and the last two elements from the list above. Also write a fn that will remove the first two
# elements and the last element.

In [ ]:
def remove(x):
    return x[2:-2]

In [ ]:
remove([1,2,3,4,5,6])

In [ ]:
remove([1,2,'a','b','c','d',3,4,5,6])

In [ ]:
y = [1,2,'a','b','c','d',3,4,5,6]

In [ ]:
remove(y)

In [ ]:
# 4) list1 = [1,2,3,4,5,6] write a fn taht will return the sum by calculating the elements before
# it. Eg the sum element at index 2 will be the cumu sum of the first three elements and so on...
# [1,3,6,10,15,21..]

In [ ]:
def summation(x):
    total = 0
    result = []
    
    for num in x:
        total += num 
        result.append(total) 
        
    return result

In [ ]:
summation([1,2,3,4,5,6])

In [ ]:
summation([3,6,8,12]) # [3,9,17,29]

In [ ]:
# 5) Write a function that checks if a given list has the same duplicate elements. If so, the 
# function should return true else return false. list1 = [2,3,4,5] = False [4,4,3] = true

In [ ]:
def duplicate(list1):
    x = list(list1)
    x.sort()
    
    for elem in range(len(x) - 1):
        if x[elem] == x[elem + 1]:
            return True
    return False

In [ ]:
duplicate([2,3,4,5])

In [ ]:
duplicate([4,4,3])

In [ ]:
duplicate(['a','c','c','d'])

In [ ]:
duplicate('stringr')