In [ ]:
 # to iterate over items or elements in a given seq like list, str, dict or tup

In [1]:
list_num = [2,4,6,8,20]

In [4]:
for item in list_num:
    print (item)

2
4
6
8
20

In [6]:
for numbers in list_num:
    print (numbers)

2
4
6
8
20

In [7]:
number_list = range(0,22)

In [8]:
for numbers in list(range(0,7)):
    print (numbers)

0
1
2
3
4
5
6

In [9]:
number_list

range(0, 22)

In [10]:
for x in number_list:
    print (x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [11]:
num_list = [2,5,7,9,14,19,42]

for number in num_list:
    if number % 2 ==0:
        
        if number % 3 == 0:
            print (number)
            print ("num is div by 3 and 2")
        else:
            print (number)
            print ('div by 2 only')
        
    else:
        print (number)
        print ("the num you entered is not div...")

2
div by 2 only
5
the num you entered is not div...
7
the num you entered is not div...
9
the num you entered is not div...
14
div by 2 only
19
the num you entered is not div...
42
num is div by 3 and 2

In [ ]:
# 6

In [12]:
numbers = [2,3,6,8,12,15,18,22,26,11,13,25]

In [ ]:
# 6 2 and 3

In [13]:
for num in numbers:
    if num % 3 == 0:
        print (num)

3
6
12
15
18

In [ ]:
6%3

In [ ]:
5%3

In [15]:
numbers = [2,3,6,8,12,15,18,22,26,11,13,25]
for num in numbers:
    
    if num % 2 == 0:
        
        if num % 3 == 0:
            print (num)
            print ("the above number is divisible by 6")
            
        else: 
            print (num)
            print ("the above number is div by 2 only")
            
    else:
        
        if num % 3 == 0:
            print (num)
            print ("the above number is divisible by 3 only")
            
        else: 
            print (num)
            print ("the above num is not div by both 2 and 3")

2
the above number is div by 2 only
3
the above number is divisible by 3 only
6
the above number is divisible by 6
8
the above number is div by 2 only
12
the above number is divisible by 6
15
the above number is divisible by 3 only
18
the above number is divisible by 6
22
the above number is div by 2 only
26
the above number is div by 2 only
11
the above num is not div by both 2 and 3
13
the above num is not div by both 2 and 3
25
the above num is not div by both 2 and 3

In [ ]:
items = ['item1', 'item2', 'item3', 'item4']

In [ ]:
for i in range(len(items)):
    print "item at index", str(i) ,"is: ", items[i]

In [ ]:
for i in range(len(items)):
    print  items[i]

In [ ]:
items = ['item1','item2','item3','item4']

number = 1
for item in items:
    print (number, item)
    number = number + 1

In [ ]:
items = ['item1','item2','item3','item4']

number = 1
for item in items:
    print number, item
    number = number + 1

In [ ]:
string_name = 'Python is cool!'

In [ ]:
for characters in string_name:
    print characters

In [ ]:
str_name = "Today is a nice day to jog!"

for alp in str_name:
    print alp

In [ ]:
for x in "Today and tomorrow":
    print x

In [ ]:
for elements in "Python for loops":
    print elements

In [ ]:
items = ['item1', 'item2', 'item3', 'item4', 'item5']

In [ ]:
range(len(items))

In [ ]:
range(6)

In [ ]:
for i in range(len(items)):
    print items[i]

In [ ]:
for i in range(len(items)):
    print "item at index", str(i), "is: ", items[i]

In [ ]:
items

In [ ]:
number = 0
for item in items:
    print (number, item)
    number = number + 1

In [ ]:
name = "Michael"

In [ ]:
for characters in name:
    print characters

In [ ]:
for alphabets in name:
    print alphabets

In [ ]:
for i in name:
    print i

In [ ]:
string_name = "Today is a great day to jog!"

In [ ]:
for charx in string_name:
    print charx

In [ ]:
for elem in "today is cold":
    print elem

In [ ]:
for name in "Michael":
    print name